@tailwind base;
@layer base {
  :root,
  [data-theme] {
    background-color: hsla(var(--b2) / var(--tw-bg-opacity, 1));
    color: hsla(var(--bc) / var(--tw-text-opacity, 1));
  }

  * {
    @apply break-words;
  }

  html,
  body,
  #__next {
    height: 100%;
  }

  :focus-visible {
    outline: none;
  }
}
@tailwind components;
@layer components {
  .raw-html a {
    text-decoration: underline;
  }

  .raw-html a:hover,
  .raw-html a:focus {
    text-decoration: none;
  }

  .raw-html-lg h2 {
    @apply text-2xl;
  }

  .raw-html-lg p {
    @apply mt-4 text-lg;
  }
}
@tailwind utilities;
